version: 0.9.0.{build}

clone_folder: c:\projects\qbdi

shallow_clone: true

configuration:
  - Release

environment:
  APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
  CMAKE_TEMPLATE: Visual Studio 16 2019
  BUILD_ALL_WHEEL: "False"
  SCCACHE_CACHE_SIZE: "250M"
  SCCACHE_DIR: C:\Users\appveyor\AppData\Local\Mozilla\sccache
  SCCACHE_ERROR_LOG: C:\projects\sccache.log
  matrix:
    - platform: X64
      qbdi_arch: X86_64
      qbdi_plateform: windows
      PYTHON38: "C:\\Python38-x64"
      PYTHON39: "C:\\Python39-x64"
      PYTHON310: "C:\\Python310-x64"
    - platform: X86
      qbdi_arch: X86
      qbdi_plateform: windows
      PYTHON38: "C:\\Python38"
      PYTHON39: "C:\\Python39"
      PYTHON310: "C:\\Python310"

for:
-
  branches:
    only:
      - dev-next
      - master

  environment:
    BUILD_ALL_WHEEL: "True"


cache:
  - third-party
  - '%SCCACHE_DIR%'

install:

  # Prepend newly installed Python to the PATH of this build (this cannot be
  # done from inside the powershell script as it would require to restart
  # the parent CMD process).

  - cmd: choco install sccache
  - cmd: sccache.exe --start-server
  - "\"C:\\Program Files (x86)\\Microsoft Visual Studio\\2019\\Community\\VC\\Auxiliary\\Build\\vcvarsall.bat\" %Platform%"
  - "SET OLDPATH=%PATH%"
  - "SET PATH=%PYTHON36%;%PYTHON36%\\Scripts;%OLDPATH%"
  - cmd: mkdir build
  - cmd: cd build

build_script:
  - cmd: cmake .. -G "Ninja" -DCMAKE_CROSSCOMPILING=FALSE -DCMAKE_BUILD_TYPE=%configuration% -DQBDI_PLATFORM=%qbdi_plateform% -DQBDI_ARCH=%qbdi_arch% -DQBDI_TOOLS_PYQBDI=Off -DQBDI_EXAMPLES=On
  - cmd: ninja
  - cmd: cpack
  - cmd: cd ..
  # build 3.8
  - "SET PATH=%PYTHON38%;%PYTHON38%\\Scripts;%OLDPATH%"
  - "SET Python3_LIBRARY=%PYTHON38%\\libs\\python38.lib"
  - "SET Python3_INCLUDE_DIR=%PYTHON38%\\include"
  - ps: if ($env:BUILD_ALL_WHEEL -eq "True") { Invoke-Expression "$env:PYTHON38\python.exe -m pip install --upgrade pip" }
  - ps: if ($env:BUILD_ALL_WHEEL -eq "True") { Invoke-Expression "$env:PYTHON38\python.exe -m pip install setuptools wheel" }
  - ps: if ($env:BUILD_ALL_WHEEL -eq "True") { Invoke-Expression "$env:PYTHON38\python.exe setup.py bdist_wheel" }
  # build 3.9
  - "SET PATH=%PYTHON39%;%PYTHON39%\\Scripts;%OLDPATH%"
  - "SET Python3_LIBRARY=%PYTHON39%\\libs\\python39.lib"
  - "SET Python3_INCLUDE_DIR=%PYTHON39%\\include"
  - ps: if ($env:BUILD_ALL_WHEEL -eq "True") { Invoke-Expression "$env:PYTHON39\python.exe -m pip install --upgrade pip" }
  - ps: if ($env:BUILD_ALL_WHEEL -eq "True") { Invoke-Expression "$env:PYTHON39\python.exe -m pip install setuptools wheel" }
  - ps: if ($env:BUILD_ALL_WHEEL -eq "True") { Invoke-Expression "$env:PYTHON39\python.exe setup.py bdist_wheel" }
  # build 3.10
  - "SET PATH=%PYTHON310%;%PYTHON310%\\Scripts;%OLDPATH%"
  - "SET Python3_LIBRARY=%PYTHON310%\\libs\\python310.lib"
  - "SET Python3_INCLUDE_DIR=%PYTHON310%\\include"
  - ps: Invoke-Expression "$env:PYTHON310\python.exe -m pip install --upgrade pip"
  - ps: Invoke-Expression "$env:PYTHON310\python.exe -m pip install setuptools wheel"
  - ps: Invoke-Expression "$env:PYTHON310\python.exe setup.py bdist_wheel"

test_script:
  - cmd: c:\projects\qbdi\build\test\QBDItest

on_finish:
  - cmd: sccache.exe --stop-server

artifacts:
  - name: Installer
    path: 'build\QBDI-*.exe'
  - name: Python package
    path: 'dist\PyQBDI-*.whl'
