**/.DS_Store
TODO
build*/*

include/QBDI/Version.h

deps/**
!deps/CMakeLists.txt
!deps/*
!deps/*/*
!deps/**/build.sh
!deps/**/rename-object.py
!deps/**/*.patch

docs/build
docs/doxygen_c
docs/doxygen_cpp
docs/qbdi_c.doxygen
docs/qbdi_cpp.doxygen
docs/doxygen_tools
docs/tools.doxygen

qbdi-deps.tar.gz
qbdi.tar.gz
package/QBDI-*
