language: cpp 

env:
  global:
    - QBDI_PLATFORM="osx"

_osx_target: &osx_target
  os: osx
  osx_image: xcode9.4
  env:
    - QBDI_ARCH="X86_64"
  before_script:
    - HOMEBREW_NO_AUTO_UPDATE=1 brew install ccache python3

_osx_target32: &osx_target32
  os: osx
  osx_image: xcode9.4
  env:
    - QBDI_ARCH="X86"
  before_script:
    - HOMEBREW_NO_AUTO_UPDATE=1 brew install ccache python3

_compile_and_test: &compile_and_test
  script:
    - mkdir build && cd build
    - cmake .. -DQBDI_PLATFORM=${QBDI_PLATFORM} -DQBDI_ARCH=${QBDI_ARCH} -DCMAKE_BUILD_TYPE=Release -DCMAKE_CROSSCOMPILING=FALSE -DQBDI_TOOLS_VALIDATOR=ON -DQBDI_EXAMPLES=ON
    - make -j2
    - ./test/QBDITest

cache:
  apt: TRUE
  ccache: TRUE

jobs:
  include:
    - stage: qbdi
      <<: *osx_target
      <<: *compile_and_test
    - stage: qbdi
      <<: *osx_target32
      <<: *compile_and_test
